<div class="container">
        <div class="row justify-content-center">
            <form action="/cadastrar" method="POST" class="col-6 bg-dark mt-5">
                <div class="form-group">
                    <label for="nome" class="text-light">Nome:</label>
                    <input type="text" name="nome" placeholder="Ex: João da Silva" class="form-control">
                </div>

                <div class="form-group">
                    <label for="nome" class="text-light">CPF:</label>
                    <input type="text" name="cpf" placeholder="Ex: 12345678910" class="form-control">
                </div>

                <div class="form-group">
                    <label for="nome" class="text-light">Data de Nascimento:</label>
                    <input type="date" name="data_de_nascimento" class="form-control">
                </div>
                <button type="submit" class="btn btn-success mt-3 mb-3 form-control">Cadastrar</button>
            </form>
        </div>
    </div>